.drawSize {
    width: 120px;
    height: 40px;
    background: lightseagreen;
    text-align-last: center;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
}

.drawSizeMobile {
    width: 220px;
    height: 80px;
    background: lightseagreen;
    text-align-last: center;
    font-size: 55px;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
}

.setColor {
    width: 120px;
    height: 40px;
    background: black;
    text-align-last: center;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
    color: red;
}

.setColorMobile {
    width: 220px;
    height: 80px;
    background: black;
    text-align-last: center;
    font-size: 55px;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
    color: red;
}

.black {
    background-color: black;
}

.brown {
    background-color: brown;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
}
