.drawSize {
    width: 120px;
    height: 40px;
    background: lightseagreen;
    text-align-last: center;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
}

.setColor {
    width: 120px;
    height: 40px;
    background: black;
    text-align-last: center;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
    color: white;
}

.black {
    background-color: black;
}

.brown {
    background-color: brown;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.grey {
    background-color: grey;
}
