.preview {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 60%;
    top: 30px;
}

.preview1 {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 60%;
    top: 280px;
}

.preview2 {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 60%;
    top: 530px;
}

.preview3 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30px;
}

.preview4 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 280px;
}

.preview5 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 530px;
}