.clear {
    width: 120px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
    margin-top: 10px;
}

.save {
    width: 120px;
    height: 40px;
    background-color: rgb(185, 51, 51);
    color: white;
    text-align: center;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
    margin-top: 10px;
}

.clearMobile {
    width: 220px;
    height: 80px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
    margin-top: 10px;
}

.saveMobile {
    width: 220px;
    height: 80px;
    background-color: rgb(185, 51, 51);
    color: white;
    text-align: center;
    border: none;
    border-radius: 6px;
    margin-right: 0px;
    margin-top: 10px;
}