.clear {
    width: 120px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    border: none;
    border-radius: 6px;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
}