.canvas {
    $border: 2px;
    background: white;
    background-clip: padding-box;
    border: solid $border rgb(143, 143, 255);
    border-radius: 1em;
    margin: 10px 0px;
    margin-left: 10px;
    z-index: 9999;
}

.maindiv {
    padding: 2px;
    margin: auto;
    width: 100%;
}