.canvas {
    $border: 5px;
    background: white;
    background-clip: padding-box;
    border: solid $border rgb(184, 61, 157);
    border-radius: 1em;
    margin: 10px 0px;
    z-index: 9999;
}

.maindiv {
    padding: 2px;
    margin: auto;
    width: 100%;
}