<html>
  <head>
    <meta charset="utf-8" Content-Type="text/html">
    <meta name="keywords" content="rysowanie, deep learning, dick, kutas, drawing, malowanie, szkicowanie, kutasy, not safe for work, nsfw, programowanie, obrazki, canvas">
    <meta name="description" content="rysowane kutasow, drawing a dicks, deep learning, data gathering, dataset, dicks set, baza kutasów">
    <meta author="Michael ..">
    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <title>Narysuj Kutasa aka Draw A Dick, dicks dataset for deep learning</title>
  </head>
  <body>
    <script>
      var csrf_token = "{{ csrf_token() }}";
    </script>
    <h1 style="display: none">Narysuj kutasa</h1>
    <h2 style="display: none">Draw a dick</h2>
    <h3 style="display: none">narysujkutasa.pl</h3>
    <h4 style="display: none">drawadick.eu</h4>
    <div id="content" style="height: 100%; width: 100%;"></div>
    <script src="static/dist/bundle.js?version=8" type="text/javascript"></script>
  </body>
</html>