.app {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}

.bottomBar {
    margin: auto;
    display: table;
}