.app {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.logo {
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}

.bottomBar {
    margin: auto;
    display: table;
}

.explBar {
    padding-top: 25px;
    margin: auto;
    display: table;
}

.explBar2 {
    padding-top: 10px;
    margin: auto;
    display: table;
}

.explanation {
    color: gray;
}

.counter {
    text-align: center;
    color: rgb(143, 143, 255);
    margin-bottom: -10px;
    font-size: small;
    font-family: monospace;
}