.app {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}